
/*header*/

.header .container{
	padding-top: 20px;
}


.logo {
	float: left;
}

.navbar-brand {
	top: -10px;
	right: -10px;
	position: relative;
	color: white;
	font-size: 45px;
	text-decoration: none;
}

.navbar-header {
	text-align: center;
}

.navbar-header a {
	color: white;
	font-size: 25px;
	text-decoration: none;
	padding-right: 100px;
}

.navbar-header a:hover{
	color: yellow;
	border-left: 100px;
	border: 2px solid white;

}

/*body*/

body {
	background: Url("./cool-background.jpg")
}


.bodie .dropdown {
 position: fixed;
 top: 30%;
}

.bodie .dropbtn:hover {
	background-color: red;
}

.bodie .dropdown:hover .bodie-navigator {
	display: block;
	float: right;
}


.bodie .dropbtn {
	height: 300px;
}

.bodie-navigator {
	height: 50%;
	display: none;
}

.bodie-navigator ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #f1f1f1;
}

.bodie-navigator li a {
    display: block;
    color: #000;
    padding: 15px 20px;
    text-decoration: none;
}

.bodie-navigator li a.active {
    background-color: #4CAF50;
    color: white;
}

.bodie-navigator li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.copy-right {
	width: 100%;
	position: absolute;
	bottom: 0px;
	text-align: center;
	height: 60px;
	font-size: 30px;
	color: white;
}